<ul>
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <div>
        <%= comment.user.name %>
        <%= comment.content %>
        <%= l comment.created_at, format: :short %>
      </div>
    <% end %>
  <% else %>
    <div>コメントの投稿はありません</div>
  <% end %>
</ul>
