<p><%= t('views.email.welcome') %><%= @email %>!</p>

<p><%= t('views.email.confirmation_instruction') %>:</p>

<p><%= link_to t('views.email.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
